* {
    margin: 0;
}

body {
    background:  #34495e;
}

#navbar {
    width: 100%;
    height: 15vh;
    background:  #1b2631;
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

#navlist {
    padding-right: 40px;
    display: flex;
    list-style-type: none;
    align-items: center;
}

#navlist li a {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    text-decoration: none;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}

#name-tag {
    color: whitesmoke;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#profession-tag {
    color: #ec7063;
    font-size: 40px;
    font-family:Verdana, Tahoma, sans-serif;
}
